name: Test
on:
  pull_request:
    types:
    - opened
    - edited
    - synchronize
    - reopened

jobs:
  test-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js 24.x
      uses: actions/setup-node@v6
      with:
        node-version: 24.x
    - name: Install Task
      uses: arduino/setup-task@v2
    - name: Test
      run: task frontend:ci

  test-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24'
    - name: Install Task
      uses: arduino/setup-task@v2
    - name: Test
      run: task backend:ci

